<div class='icons-wrapper' *ngIf='icons'>
    <h2 *ngIf='title'>{{title}}</h2>
    <ng-container *ngFor='let icon of icons'>
        <a *ngIf='icon.link' [routerLink]='icon.link' class='icon icon-link'>
            <fa-icon [icon]='icon.fontIcon' [size]='iconSize'></fa-icon>
            <!-- <div *ngIf='icon.title' class='copy'>{{icon.title}}</div> -->
        </a>
        <div *ngIf='!icon.link' class='icon'>
            <fa-icon [icon]='icon.fontIcon' [size]='iconSize'></fa-icon>
            <!-- <div *ngIf='icon.title' class='copy'>{{icon.title}}</div> -->
        </div>
    </ng-container>
</div>