<div class='about-me'>
  <h1>Gary Luck</h1>
  <h2>What I am</h2>
  <ul>
    <li>A Developer
      <ul>
        <li>with a positive attitude</li>
        <li>who never gives up</li>
      </ul>
    </li>
    <li>A self confessed coffee addict</li>
    <li>A curious individual</li>
  </ul>

  <h2>What I am not</h2>
  <ul>
    <li>A Designer</li>
    <li>A Web Designer</li>
    <li>A know-it-all</li>
  </ul>

  <h2 class='asterix'>Additional Tools</h2>
  <h6 class='asterix'>(That FontAwesome has yet to provide icons for)</h6>
  <ul>
    <li>jQuery</li>
    <li>Smarty</li>
    <li>GetSimpleCMS</li>
    <li>Foundation</li>
  </ul>
<!-- 
  <ul>
    <li>BitBucket</li>
    <li>Jira</li>
    <li>Confluence</li>
    <li>Photoshop</li>
  </ul>

  <ul>
    <li>The Telegraph</li>
    <li>The Sun</li>
    <li>Sky Sports</li>
    <li>The Daily Mail</li>
    <li>Club &pound;9.50</li>
    <li>The Times+</li>
  </ul> -->

</div>
