<mat-grid-list cols="4" rowHeight="100px">
  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Gary Luck</mat-card-title>
      <mat-card-subtitle>Developer</mat-card-subtitle>
    </mat-card-header>
    <!-- <img
    mat-card-image
    src="https://media.licdn.com/dms/image/v2/C5603AQGdpdzt4TVkxw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1516956696931?e=1744848000&v=beta&t=zynMvX10fkjA7VHdbzGGI-mCc_zabB8hoNylSOOkKBw"
    alt="Picture of Gary Luck"
  /> -->
    <mat-card-content>
      <p>The developer</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Skills</mat-card-title>
      <mat-card-subtitle>What can I do?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>The developer</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Socials</mat-card-title>
      <mat-card-subtitle>Where can you find me?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>The developer</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Hobbies</mat-card-title>
      <mat-card-subtitle>Where can you find me?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>The developer</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</mat-grid-list>
