/* You can add global styles to this file, and also import other style files */
app-root{
    z-index:3;
    background-color:#101111;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.wrapper{
    color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
}

h1, h2{
    font-family: 'Raleway', sans-serif;
}

h2 + h6{
    margin-top: 0;
}